/* yellow = background: #FFD15B; */

main {
  background-color: rgb(237, 237, 237);
}

.header {
  background-image: url(/Assets/Mask\ group.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}
.h1 {
  color: #ffd15b;
}
.input-container {
  position: relative;
}
.search-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background-color: black;
}

.search-icon {
  color: white;
}

.search-input {
  height: 80px;
  border-radius: 10px;
  padding-left: 20px;
}

.text-warning {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.recipes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15%;
}

/* styles des cards */

.card {
  display: flex;
  flex-direction: column;
  width: 26%;
  border-radius: 15px;
  height: 800px;
  margin-bottom: 100px;
}
.card-image {
  height: 34%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.recipe-title,
.ingredients-title {
  color: grey;
  font-weight: 600;
  font-size: 20px;
}
.recipe-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ingredient-name {
  font-weight: 500;
}
.recipe-time {
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 45px;
  padding: 10px 20px;
  background-color: #ffd15b;
}

/* Style des menus déroulants des filtres */

.filter-dropdown-btn {
  background: none;
  color: inherit;
  border: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: white;
  border-radius: 11px;
  font-size: 16px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 15px;
  position: relative;
}
.filter-dropdown-btn:focus {
  outline: none;
}
.filter-arrow {
  position: absolute;
  top: 15px;
  right: 10px;
}
.filters-and-total-container {
  display: flex;
  padding: 50px 15%;
  justify-content: space-between;
}
.filters-container {
  display: flex;
  justify-content: space-between;
}

.total-recipes {
  font-weight: bold;
  font-size: 21px;
}

/* test */
.list-container {
  display: flex;
  flex-direction: column;
}
.filters-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
}
.filter-container {
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  background-color: white;
  margin-right: 50px;
  height: fit-content;
}
ul {
  list-style-type: none;
}
.filter-search-input-container {
  padding: 0 15px;
  position: relative;
  width: calc(100% - 30px);
  border: yellow solid;
}

.filter-item {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 3px 15px;
}
.filter-item:hover {
  background-color: #ffd15b;
}
.filter-active {
  display: flex;
}
.filter-inactive {
  display: none;
}
.filter-glass {
  position: absolute;
  right: 25px;
  top: 12px;
  color: rgb(207, 204, 204);
}
.filter-search-input {
  height: 38px;
}
