/* yellow = background: #FFD15B; */

main {
  background-color: rgb(237, 237, 237);
}

.header {
  background-image: url(/Assets/Mask\ group.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  padding: 40px;
}
.h1 {
  color: #ffd15b;
  font-family: 'Anton';
  font-size: 44px;
  line-height: 66.24px;
  text-align: center;
}
.input-container {
  position: relative;
}
.search-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background-color: black;
}

.search-icon {
  color: white;
}

.search-input {
  height: 80px;
  border-radius: 10px;
  padding-left: 20px;
}

.text-warning {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.recipes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10%;
}

.recipe-name {
  font-size: 20px;
}

/* styles des cards */

.card {
  display: flex;
  flex-direction: column;
  width: 27%;
  border-radius: 15px;
  margin-bottom: 100px;
  padding-bottom: 10px;
  max-height: 850px;
  padding-bottom: 50px;
}
.card-image {
  min-height: 34%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.recipe-title,
.ingredients-title {
  color: grey;
  font-weight: 600;
  font-size: 20px;
}
.recipe-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ingredient-name {
  font-weight: 500;
}
.recipe-time {
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 45px;
  padding: 10px 20px;
  background-color: #ffd15b;
}

/* Style des menus déroulants des filtres */

.filter-dropdown-btn {
  background: none;
  color: inherit;
  border: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: white;
  border-radius: 11px;
  font-size: 16px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* height: 45px; */
  padding: 18px;
  position: relative;
  width: 100%;
}
.filter-dropdown-btn:focus {
  outline: none;
}
.filter-arrow {
  position: absolute;
  /* top: 15px; */
  right: 15px;
}
.filters-and-total-container {
  display: flex;
  padding: 0 10%;
  padding-top: 20px;
  padding-bottom: 50px;
  justify-content: space-between;
}
.filters-container {
  display: flex;
  justify-content: space-between;

  width: 50%;
}

.total-recipes {
  font-weight: bold;
  font-size: 21px;
}

/* test */
.list-container {
  display: flex;
  background-color: white;
  position: absolute;
  z-index: 5;
  top: 45px;
  flex-direction: column;
  width: 100%;
}
.filters-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
}
.filter-container {
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  height: fit-content;
  width: 28%;
  position: relative;
}
ul {
  list-style-type: none;
}
.filter-search-input-container {
  padding: 0 15px;
  position: relative;
  width: 100%;
}

.filter-item {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 3px 15px;
}
.filter-item:hover {
  background-color: #ffd15b;
}
.filter-active {
  display: flex;
}
.filter-inactive {
  display: none;
}
.filter-glass {
  position: absolute;
  right: 25px;
  top: 12px;
  color: rgb(207, 204, 204);
}
.filter-search-input {
  height: 38px;
  width: 100%;
}

/* style des tags  */
.tag {
  background-color: #ffd15b;
  border-radius: 10px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.filter-search-input-container {
  margin-bottom: 20px;
}
.selected-tag {
  background-color: #ffd15b;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}
.fa-xmark {
  cursor: pointer;
}
.fa-xmark:hover ~ .tag-icon-container {
  color: #ffd15b;
}
.tag-icon-container {
  border-radius: 15px;
  padding: 0 5px;
}
/* .tag-icon-container:hover {
  background-color: black;
} */
